<!DOCTYPE html>
<html>
<head>
    <title>Twitter Sentiment Intelligence</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">
    <a href="/">Home</a>
    <a href="/analyzer">Sentiment Analyzer</a>
    <a href="/dashboard">Country Dashboard</a>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>
